<launch>
    <!-- load hydra controllers -->
    <include file="$(find hydra_control)/launch/hydra_sim_control.launch" />

    <!-- load moveit_cpp config -->
    <rosparam ns="kintrol_server" command="load" file="$(find kintrol)/kintrol_test/config/moveit_cpp.yaml"/>

    <!-- planning pipeline -->
    <include ns="/kintrol_server/planning_pipelines" file="$(find hydra_moveit_config)/launch/ompl_planning_pipeline.launch.xml"/>

    <!-- trajectory execution -->
    <include ns="kintrol_server" file="$(find hydra_moveit_config)/launch/trajectory_execution.launch.xml">
      <arg name="moveit_controller_manager" value="ros_control" />
    </include>

    <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
    <include file="$(find hydra_moveit_config)/launch/planning_context.launch">
      <arg name="load_robot_description" value="false"/>
    </include>

    <!-- Show in Rviz -->
    <include file="$(find hydra_bringup)/launch/hydra_visualize.launch" >
      <arg name="load_robot_description" value="false" />
    </include>

    <!--<node pkg="kintrol" type="kintrol_test" name="kintrol_test" output="screen"/>-->
</launch>